.users-detail-container {
  width: 100%;
  border: 2px solid #00008B;
  padding: 15px;
}

.search {
  margin: auto;
  width: 250px;
  height: 25px;
  border: 1px solid rgb(80, 77, 77);
  border-radius: 5px;
}

.dropdown-container {
  position: absolute;
  top: 82px;
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 5px;
  border: 2px solid rgb(83, 64, 170);
}

.scroll {
  max-height: 120px;
  overflow-y: scroll;
}

.multiselect-dropdown {
  width: 250px;
  border-bottom: 2px solid rgb(83, 64, 170);
  background-color: #ffffff;
}

.dropdown-option {
  margin-bottom: 5px;
  margin-top: 2.5px;
}